{% extends 'instructortemp/instructor_panel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>SI NO</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>USER NAME</th>
        <th>PHONE NO</th>
        <th>EMAIL</th>
        <th>ADDRESS</th>
      </tr>
      </thead>

      <tbody>
      {% for i in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.username}}</td>
        <td>{{i.phone_number}}</td>
        <td>{{i.email}}</td>
        <td>{{i.address}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}