{% extends 'physiciantemp/physician_panel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>SI NO</th>
        <th>Name</th>
        <th>Image</th>
      </tr>
      </thead>

      <tbody>
      {% for i in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td><img height="50px" width="50px" src="{{i.image.url}}"></td>
      </tr>
      {% endfor %}
      </tbody>

    </table>
  </div>
</div>
{% endblock %}