{% extends 'customer/customer_panel.html' %}
{% load crispy_forms_tags %}
{% block content %}

        <form method="post">
            {% csrf_token %}
            <label class="form-label">Physician Name</label>
            <input required class="form-control" readonly value="{{Schedule.physician_name}}">

            <label class="form-label">start time</label>
            <input required class="form-control" readonly value="{{Schedule.start_time}}">

            <label class="form-label">end time</label>
            <input required class="form-control" readonly value="{{Schedule.end_time}}">

            <label class="form-label">date</label>
            <input required class="form-control" readonly value="{{Schedule.date}}">

            <div style="text-align: center;">
            <button type="submit" class="btn btn-primary" title="click to apply">Submit</button>
            </div>
        </form>


{% endblock %}