{% extends 'customer/customer_panel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>SI NO</th>
                <th>Customer name</th>
<!--                <th>Physician name</th>-->
                <th>Start time</th>
                <th>End time</th>
                <th>Date</th>
                <th>Approve</th>
            </tr>
            </thead>

            <tbody>
            {% for i in data %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.physician_name.username}}</td>
<!--                    <td>{{i.physician_name.username}}</td>-->
                    <td>{{i.Schedule_appointment.start_time}}</td>
                    <td>{{i.Schedule_appointment.end_time}}</td>
                    <td>{{i.Schedule_appointment.date}}</td>
                    <td>
                        <a style="color:white;" type="submit" class="btn btn-primary">Approved</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}