{% extends 'admintemp/dashmin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg--12 mt-5">
  <div class="card">

    <div class="card-body">
      <h4 style="text-align:center; font-size:40px" class="header-title">Payments</h4>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>SI NO</th>
          <th>NAME</th>
          <th>BILL DATE</th>
          <th>PAID STATUS</th>
        </tr>
        </thead>

        <tbody>
        {% for i in data %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{i.name}}</td>
          <td>{{i.bill_date}}</td>

          <td>
            {% if i.status == 0 %}
            <a class="btn btn-warning">Bill Pending</a>
            {% elif i.status == 1 %}
            <button class="btn btn-success">Paid on {{i.paid_on}}</button>
            {% elif i.status == 2 %}
            <button class="btn btn-warning">Choosed Pay Direct</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>




</div>
{% endblock %}