{% extends 'customer/customer_panel.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>SI NO</th>
        <th>NAME</th>
        <th>BILL_DATE</th>
        <th>AMOUNT</th>
      </tr>
      </thead>

      <tbody>
      {% for i in data %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.bill_date}}</td>
        <td>
          {% if i.status == 0 %}
          {{i.amount}}<a href="{% url 'pay_bill' i.id %}" type="submit" class="btn btn-warning">PAY</a>
          {% else %}
          <a type="submit" class="btn btn-success">PAID</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endblock %}